<template>
	<view>
		<Loading v-if="loading"></Loading>
		
		<view v-else>
			<!-- 若未登录则弹出登录 -->
			<view v-if="!globalSetting.isLogin()" class="center">
				<image src="../../static/image/rocket.png" mode="scaleToFill" style="height: 150rpx;width: 150rpx;"></image>
				<text class="gray">登录后查看外卖订单</text>
				<button type="warn" size="default" @click="gotoLogin" style="margin-top: 20rpx;">立即登录</button>
			</view>
			
			<view v-if="processingOrderList.length===0&&finishedOrderList.length===0" class="center">
				<image src="../../static/image/noresult.jpg" mode="scaleToFill" class="img"></image>
				<text class="gray">您还没有订单</text>
			</view>
			
			<view v-if="processingOrderList.length!==0" class="title">未完成订单</view>
			
			<OrderListCell v-for="(orderInfo, index) in processingOrderList" 
			:key = "index"
			@gotoInfo="gotoInfo"
			:orderInfo = "orderInfo"></OrderListCell>
			
			
			<view v-if="finishedOrderList.length!==0" class="title">历史订单</view>
			
			<OrderListCell v-for="(orderInfo, index) in finishedOrderList"
			:key = "index"
			@gotoInfo="gotoInfo"
			:orderInfo = "orderInfo"></OrderListCell>
			
			
			<!-- 底部留白 -->
			<view style="height: 120rpx;"></view>
		</view>

	</view>
</template>

<script lang="ts">
	import {Component, Vue, Watch} from "vue-property-decorator";
	import {GlobalSetting} from "@/GlobalSetting";
	import {OrderListLogic} from "@/logic/OrderListLogic";
	import {OrderHistory} from "@/module/OrderHistory";
	import Loading from "../../components/Loading.vue";
	import OrderListCell from "../../components/OrderListCell.vue";
	
	@Component({
		components: {
		  Loading,
		  OrderListCell
		}
	})
	export default class OrderList extends Vue{
		private globalSetting: GlobalSetting = GlobalSetting.getInstance();
		private orderListLogic = OrderListLogic.getInstance();
		private loading: boolean = false
		private processingOrderList: OrderHistory[] = [];
		private finishedOrderList: OrderHistory[] = [];
		
		onShow() {
			this.initialize()
		} 
		
		onPullDownRefresh() {
			this.initialize()
		}
		
		initialize(){
			if(this.globalSetting.isLogin()){
				this.loading = true
				this.fetchOrderList()
			}
		}
		
		gotoInfo(order_id: number){
			uni.navigateTo({
				url: '../../pagesA/OrderInfo/OrderInfo?order_id=' + order_id
			});
		}
		
		fetchOrderList(){
			this.orderListLogic.fetchOrderList()
			.then(() => {
				this.processingOrderList = this.orderListLogic.getProcessingOrderList();
				this.finishedOrderList = this.orderListLogic.getFinishedOrderList();
				this.loading = false
				uni.stopPullDownRefresh()
				// console.log(this.finishedOrderList)
				// console.log(this.processingOrderList)
			})
		}
		
		gotoLogin(){
			uni.navigateTo({
				url: '../../pagesA/Login/Login'
			});
		}
		
	}
</script>

<style>
	
	.img{
		height: 250rpx;width: 300rpx;
	}
	
	.gray{
		color: #999999;margin-top: 20rpx;
		font-size: large;
	}
	
	.center{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100vh;
		width: 100%;
	}
	
	.title{
		font-size: large;
		padding: 0rpx 40rpx;
		text-decoration: underline;
		text-decoration-color: #FFFF00;
		text-decoration-thickness: 5px;
		text-decoration-style: solid;
	}
</style>
