<template>
	<view>
		<Loading v-if="loading"></Loading>
		
		<view v-else>
		
			<view v-if="list.length===0" class="empty">
				<image src="../../static/image/noresult.jpg" mode="aspectFit" class="img"></image>
				<text class="noResult">没有符合的结果</text>
			</view>
			
			<CreditCardCell v-for="(item, index) in list" :key="index"
			:fromPayment = "fromPayment"
			:creditCard = "item"
			@deleteCard = "deleteCard"
			@chooseCreditCard = "chooseCreditCard"/>
			
			<view style="height: 200rpx;"></view>
			
			<view class="btn" @click="addCard">添加信用卡</view>
			
			<CreditCardPopup
			:show = "show"
			:card = "cardInfo"
			@addCreditCard = "addCreditCard"
			@pay = "pay"
			@closePopup = "closePopup"/> 
		
		</view>
		
	</view>
</template>

<script lang="ts">
	import {Component, Vue, Watch} from "vue-property-decorator";
	import {GlobalSetting} from "@/GlobalSetting"; 
	import {CreditCard} from "@/module/CreditCard";
	import {CreditCardLogic} from "@/logic/CreditCardLogic";
	
	import Loading from "../../components/Loading.vue";
	import CreditCardCell from "../components/CreditCardCell.vue";
	import CreditCardPopup from "../components/CreditCardPopup.vue";
	
	@Component({
		components: {
		  Loading,
		  CreditCardCell,
		  CreditCardPopup
		}
	})
	export default class CreditCardList extends Vue{
		private globalSetting: GlobalSetting = GlobalSetting.getInstance();
		private CreditCardLogic = CreditCardLogic.getInstance()
		
		private loading: boolean = true
		private show: boolean = false
		private fromPayment: boolean = false
		private order_id: number = 0
		private cardInfo: CreditCard = new CreditCard()
		private list: CreditCard[] = []
		
		onLoad(e: any){
			// console.log(e)
			if(e.hasOwnProperty('from')){
				this.fromPayment = true
				
				this.order_id = e.order_id
				this.fetchOrderDetail()
			}
			this.fetchCreditCardList()
		}
		
		onUnload() {
			if(this.fromPayment){
				console.log("onUnload confirm");
				uni.reLaunch({
					url: '../OrderInfo/OrderInfo?order_id=' + this.order_id,
				})
			}
		}
		
		fetchCreditCardList(){
			this.CreditCardLogic.fetchCreditCardList()
			.then(() => {
				this.list = this.CreditCardLogic.getCreditCardList()
				this.loading = false
			})
		}
		
		chooseCreditCard(card: CreditCard){
			this.show = true
			this.cardInfo = card
		}
		
		deleteCard(id: number){
			this.CreditCardLogic.deleteCard(id)
			.then((e:any) => {
				uni.showToast({
					title: '删除成功'
				});
				this.loading = true
				this.fetchCreditCardList()
			})
		}
		
		addCreditCard(p: object){
			this.CreditCardLogic.addCreditCard(p)
			.then((e:any) => {
				uni.showToast({
					title: '添加成功'
				});
				this.loading = true
				this.fetchCreditCardList()
			})
		}
		
		pay(p: any){
			uni.showLoading({
				title: 'loading...'
			})
			this.CreditCardLogic.getPaymentToken(p)
			.then((e:any) => {
				// console.log(e)
				this.create_charge(e.card_token, p.cvc)
			})
		}
		
		create_charge(card_token: string, cvc: string){
			this.CreditCardLogic.create_charge(card_token, this.order_id, cvc )
			.then(res => {
				// console.log(res)
				uni.hideLoading();
				uni.showToast({
					title: '支付成功'
				});
				this.fromPayment = false
				// 支付成功跳转到订单详情页
				setTimeout(() => {
					uni.reLaunch({
						url: '../OrderInfo/OrderInfo?order_id=' + this.order_id,
					})
				},600)
			})
		}
		
		fetchOrderDetail(){
			this.CreditCardLogic.fetchOrderDetail(this.order_id)
			.then((e:any) => {
				console.log(e)
			})
		}
		
		addCard(){
			this.show = true
			this.cardInfo = new CreditCard()
		}
		
		closePopup(){
			this.show = false
		}
		
	}
</script>

<style>
	
	.img{
		height: 350rpx;width: 350rpx;
	}
	
	.noResult{
		color: #999999;font-size: larger;
	}
	
	.empty{
		width: 100vh;height: 100vh;display: flex;margin-top: 200rpx;flex-direction: column;align-items: center;
	}
	
	.btn{
		font-size: larger;
		font-weight: bold;
		position: fixed;
		bottom: 30rpx;
		left: 20rpx;
		right: 20rpx;
		color: #FFFFFF;
		height: 100rpx;
		background-color: #ff8161;
		border-radius: 98rpx;
		box-shadow: 0px 0px 5px 2px #DDDDDD;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
</style>
