<template>
	<view style="padding: 0rpx 20rpx;">
		
		<Loading v-if="loading"></Loading>
		
		<view v-else>
		
			<!-- 搜索栏 -->
			<u-search @search="goSearch()" height="85" placeholder="请输入餐馆名称、关键词等..." :focus="focus" :show-action="false" class="searchBar"></u-search>
			
			<view v-if="showHistory&&searchHistory.length!==0">
			
				<view class="title">历史搜索</view>
				
				<!-- 搜索历史 -->
				<view class="historyTag">
					<view v-for="(item, index) in searchHistory" :key="index" class="hotSearchItem" @click="clickHistorySearch(item, index)">{{item}}</view>
				</view>
			</view>
			
			<!-- 没有符合的结果 -->
			<view v-if="!showHistory&&resultList.length===0" class="container">
				<image src="../../static/image/noresult.jpg" mode="aspectFit" class="img"></image>
				<text class="text">没有符合的结果</text>
			</view>
			
			
			<view class="result-container">
				<SearchResultCell v-for="(shop, index) in resultList" :key="index"
				:shop = "shop"
				@handleError = "handleError"/>
			</view>
		
		</view>

	</view>
</template>

<script lang="ts">
	import {Component, Prop, Vue, Watch} from "vue-property-decorator";
	import Loading from '../../components/Loading.vue';
	import SearchResultCell from '../components/SearchResultCell.vue';
	import {SearchLogic} from "@/logic/SearchLogic";
	import {Shop} from "@/module/Shop"
	 
	@Component({
	    components: {
	      Loading,
		  SearchResultCell
	    }
	})
	export default class SearchResult extends Vue{
		private searchLogic = SearchLogic.getInstance()
		private loading: boolean = true
		private focus: boolean = true
		private showHistory: boolean = false
		private searchHistory: string[] = []
		private resultList: Shop[] = []
		
		onLoad(e:any){
			if (e.search) {
				// 点击搜索进入
				// console.log('搜索历史' ,this.searchHistory);
				this.searchHistory = uni.getStorageSync('searchHistory')
				this.showHistory = true
				this.loading = false
			}else{
				// 点击关键字或者图片类别进入
				this.focus = false
				this.search(e.content)
			}
		}
		
		search(content: string){
			this.loading = true
			this.searchLogic.search(uni.getStorageSync('city_id'), content)
			.then(res => {
				this.loading = false
				// console.log(res)
				this.resultList = res
				this.showHistory = false
				this.focus = false
			})
		}
		
		goSearch(content: string){
			this.showHistory = false
			
			if (this.searchHistory.length === 0) {
				// 搜索历史为空
				let array = []
				array.push(content)
				uni.setStorageSync('searchHistory', array)
			}else{
				// 已有搜索历史
				let history = uni.getStorageSync('searchHistory')
				history = history.filter((word:string) => word !== content)
				history.unshift(content)
				uni.setStorageSync('searchHistory', history)
			}
		
			this.search(content)
		}
		
		// 点击搜索过的历史标签
		clickHistorySearch(content: string, index: number){
			// 将点击标签重新放置头部
			this.searchHistory.unshift(content)
			this.searchHistory.splice(index+1, 1)
			uni.setStorageSync('searchHistory', this.searchHistory)
			this.search(content)
		}
		
		handleError(index: number){
			this.resultList[index].thumb = '../static/image/error.png'
		}
		
	}
</script>

<style>
	
	.result-container{
		margin-top: 90rpx;
	}
	
	.searchBar{
		position: fixed;
		top: 10rpx;
		left: 10rpx;
		right: 10rpx;
		background-color: #FFFFFF;
		z-index: 10;
	}
	
	.container{
		width: 100%;height: 100%;display: flex;margin-top: 250rpx;flex-direction: column;align-items: center;
	}
	
	.img{
		height: 350rpx;width: 350rpx;
	}
	
	.text{
		color: #999999;font-size: larger;
	}
	
	.title{
		margin-top: 30rpx;
	}
	
	.hotSearchItem{
		border-radius: 15rpx;
		background-color: #F0F0F0;
		padding: 10rpx 15rpx;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		margin: 10rpx 12rpx;
		white-space: nowrap;
	}
	
	.historyTag{
		margin-top: 30rpx;
		flex-shrink: 0;
		display: flex;
		flex-direction: row;
		width: 100%;
		flex-wrap: wrap;
	}
	
</style>
