<template>
	<view>
		<Loading v-if="loading"></Loading>
		
		<!-- display城市 -->
		<!-- <view> 
			<picker mode="selector" :range="cities" :range-key="'name'" @change="chooseCity">
				<view class="picker">
					<image src="../../static/image/car.png" mode="aspectFill" class="icon"></image>
					<view style="margin-left: 10rpx;">{{currentCity}}</view>
				</view>
			</picker>
		</view> -->
		
		<!-- 商家列表 -->
		<view v-for="(item, index) in shopList" :key="index" @click="gotoMenu(item.mid)">
			<RestaurantCard 
			:km = "GetDistance(item.lat, item.lon)"
			:index = "index"
			:shopInfo = "item"
			@imgLoadFail = "imgLoadFail" 
			></RestaurantCard>
		</view>
		
		<view v-if="shopList.length===0" class="center">
			<image src="../../static/image/noresult.jpg" mode="scaleToFill" class="img"></image>
			<text class="errorText">对不起，您附近没有餐厅</text>
		</view>
		
	</view>
</template>

<script lang="ts">
	import {Component, Vue, Watch} from "vue-property-decorator";
	import {GlobalSetting} from "@/GlobalSetting";
	import {ShopListLogic} from "@/logic/ShopListLogic";
	import {Shop} from "@/module/Shop";
	import {City} from "@/module/City";
	import RestaurantCard from '../../components/RestaurantCard.vue';
	import Loading from '@/components/Loading.vue';
	 
	@Component({
	    components: {
	      RestaurantCard, 
	      Loading
	    }
	})
	export default class HomeView extends Vue{
		private globalSetting: GlobalSetting = GlobalSetting.getInstance();
		private shopListLogic = ShopListLogic.getInstance()
		private shopList: Array<Shop> = []
		private cities: City[] = []
		private currentCity: string = '点击选择城市'
		private loading: boolean = true
		private errorImage: string = '../../static/image/error.png'
		
		onLoad(){
			
			this.globalSetting.fetchSystemInfo();
			this.initialize()
		}
		
		onShow(){
			// console.log(uni.getStorageSync("openId"))
		}
		
		initialize(){
			this.fetchUserLocation()
			// this.fetchCityList()
			this.getExpressHistory()
		}
		
		getExpressHistory(){
			let history = uni.getStorageSync('expressHistory')
			history === '' ? '' : this.shopList = history
			this.loading = false
		}
		
		fetchUserLocation(){
			this.shopListLogic.fetchUserLocation()
			.then((res:any) => {
				// console.log(res)
				this.fetchCustomerCity(res.latitude, res.longitude)
			}).catch(e => console.log(e))
		}
		
		fetchCityList(){
			this.shopListLogic.fetchCityList()
			.then(() => {
				this.cities = this.shopListLogic.getCityList()
			}).catch(e => console.log(e))
		}
		
		fetchCustomerCity(lat: number, lng: number){
			this.shopListLogic.fetchCustomerCity(lat, lng)
			.then(res => {
				this.currentCity = this.shopListLogic.getCustomerCity()
				// this.fetchShopList()
			}).catch(e => console.log(e))
		}
		
		fetchShopList(){
			// this.shopListLogic.fetchShopList(3608)
			this.shopListLogic.fetchShopList(this.shopListLogic.currentCityId)
			.then(() => {
				this.shopList = this.shopListLogic.getShopList()
			}).catch(e => console.log(e))
			.finally( () =>
				this.loading = false
			)
		}
		
		gotoMenu(mid: number){
			// console.log(mid)
			uni.navigateTo({
				url: '../menu/menu?mid=' + mid,
			});
		}
		
		chooseCity(e: any){
			this.loading = true
			let index: number = e.detail.value
			this.currentCity = this.cities[index].name
			this.shopListLogic.fetchShopList(this.cities[index].id)
			.then(() => {
				this.shopList = this.shopListLogic.getShopList()
				
			}).catch(e => console.log(e))
			.finally( () =>
				this.loading = false
			)
		}
		
		imgLoadFail(errorImageIndex: number){
			// console.log(e);
			// console.log(this.shopList)
			this.shopList[errorImageIndex].thumb = '../static/image/error.png'
			this.$forceUpdate()
		}
		
		// 计算用户与商家的距离
		GetDistance(lat1: number, lng1: number){ 
			return GlobalSetting.getInstance().GetDistance(lat1,lng1)
		}
		
		
	}
	
</script>

<style>
	
	.picker{
		font-size: larger;display: flex;align-items: center;margin-left: 15rpx;
	}
	
	.icon{
		height: 80rpx;width: 80rpx;
	}
	
	.img{
		height: 250rpx;width: 300rpx;
	}
	
	.errorText{
		color: #999999;
		margin-top: 20rpx;
		font-size: large;
	}
	
	.center{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100vh;
		width: 100%;
	}
	
</style>
