<template>
	<view class="loading">
		
		<swiper style="width: 150rpx;height: 150rpx;"
			:indicator-dots="false" 
			autoplay="true" 
			interval="100"  
			circular="true" 
			disable-touch="true"
			duration="0">
			<swiper-item v-for="(item , index) in loadingImage" :key="index">
				<image :src="item" mode="scaleToFill" style="width: 150rpx;height: 150rpx;"></image>
			</swiper-item>
		</swiper> 
		
	</view>
</template>

<script>
	export default {
		name:"Loading",
		data() {
			return {
				loadingImage:['../static/image/loading0001.png',
								'../static/image/loading0002.png',
								'../static/image/loading0003.png',
								'../static/image/loading0004.png',
								'../static/image/loading0005.png',
								'../static/image/loading0006.png',
								'../static/image/loading0007.png',
								'../static/image/loading0008.png',
								'../static/image/loading0009.png',
								'../static/image/loading0010.png',
								'../static/image/loading0011.png',
								'../static/image/loading0012.png',
								'../static/image/loading0013.png',
								'../static/image/loading0014.png',
								'../static/image/loading0015.png',
								'../static/image/loading0016.png',
								'../static/image/loading0017.png',
								'../static/image/loading0018.png',
								'../static/image/loading0019.png',
								'../static/image/loading0020.png',
								'../static/image/loading0021.png',
								'../static/image/loading0022.png',
								'../static/image/loading0023.png',
								'../static/image/loading0024.png',
								'../static/image/loading0025.png',
								'../static/image/loading0026.png',
								'../static/image/loading0027.png',
								'../static/image/loading0028.png',
								'../static/image/loading0029.png',
								'../static/image/loading0030.png',]
			};
		}
	}
</script>

<style>

</style>
