<template>
	<view style="display: flex;" id="menu">
		
		<!-- 左边菜品类别 -->
		<view class="left" :style="{'height':windowHeight}">
			<scroll-view scroll-y="true" 
			scroll-with-animation="true" 
			:scroll-into-view="clickToId">
				<view v-for="(item, index) in menu" :key="index">
					<view :class="['leftTitle', {active:index===currentCategoryIndex}]" 
					:id="'to'+index" 
					@click="setId(index)">
						{{item.category}}
					</view>
				</view>
				<view class="leftEmpty"></view>
			</scroll-view>
		</view>
		
		<!-- 右边菜单 -->
		<view class="right" :style="{'height':windowHeight}">
			<scroll-view :scroll-into-view="clickId"
			@scroll="scroll" 
			scroll-with-animation="true" 
			scroll-y="true" 
			@scrolltoupper="scrolltoupper">
			
				<view v-for="(item, index) in menu" :key="index" :id="'po'+index">
					
					<!-- 菜品类别 -->
					<view class="title">{{item.category}}</view>
					
					<view v-for="(it, idx) in item.products" :key="idx" @click="openProductOption(index, idx, false)">
						<view class="productContainer">
							
							<!-- 菜品图片 -->
							<image :src="it.product_image=='' ? errorImage : it.product_image" 
							:lazy-load="true" mode="aspectFill"
							@error="handleError(it.product_image)" 
							class="productImg" :class="[it.stock === 0 ? 'gray' : '']">
								<view class="soldout">
									<text style="color: #FFFFFF;">SOLD OUT</text>
								</view>
							</image>
							
							<!-- 菜品展示 -->
							<view class="productInfo">
								
								<!-- 菜品名字 -->
								<text class="item">{{it.product_name}}</text>
								
								<!-- 菜品标签 -->
								<view class="row" style="align-items: center;">
									<view v-for="(tagitem, tagindex) in it.tags" :key="tagindex">
										<view class="tag" :style="{'color': tagitem.color,'background-color': colorToRGB(tagitem.color, 0.1)}">
											{{tagitem.tag}}</view>
									</view>
								</view>
								
								<!-- 菜品价格 -->
								<view class="priceContainer">
									<view class="row" style="align-items: center;">
										<view class="price">${{it.price.toFixed(2)}}</view>
										<view v-if="it.org_price!=it.price" class="org_price">${{it.org_price}}</view>
									</view>
									
									<!-- 有选项则显示自由搭配 -->
									<view class="freeChoice" v-if="it.options.length!==0 && it.stock!==0">自由搭配</view>
									
									<!-- 无选项显示加减 -->
									<view v-else-if="it.options.length==0 && it.stock!==0" class="row">
										<NumberBox
											:qty = "it.qty"
											:category_index = "index"
											:product_index = "idx"
											@addItem = "addItem"
											@removeItem = "removeItem"
										></NumberBox>
									</view>
									
								</view>
								
							</view>
						</view>
					</view>
				</view>
				<view class="leftEmpty"></view>
			</scroll-view>
		</view>
	</view>
</template> 

<script lang="ts">
	import {Component, Prop, Watch, Vue} from "vue-property-decorator";
	import NumberBox from './NumberBox.vue';
	import {Product} from "@/module/Product";
	import {Menu} from "@/module/Menu";
	import {GlobalSetting} from "@/GlobalSetting";
	
	@Component({
		components: {
		  NumberBox
		}
	})
	export default class MenuContent extends Vue{
		@Prop() private menu!: Menu[]
		
		private globalSetting: GlobalSetting = GlobalSetting.getInstance();
		private topList: number[] = []
		private clickId: string = ""
		private clickToId: string = ""
		private windowHeight: string = "" 
		private currentCategoryIndex: number = 0
		private errorImage: string = '../static/image/errorMenu.png'
		
		@Watch('menu', {deep: true}) checkMenu(newValue:Menu, oldValue:Menu){
			// console.log(newValue, newValue);
		}
		
		mounted(){
			// 获取屏幕高度
			uni.getSystemInfo({
				success: res => {
					// console.log(res)
					this.windowHeight = res.windowHeight + 'px'
				}
			})
			// @ts-ignore
			// this.windowHeight = this.globalSetting.getSystemInfo().windowHeight + 'px';
			// console.log(this.globalSetting.getSystemInfo().windowHeight)
			setTimeout(() => {
				this.getContInfo()
			}, 1000) 
		}
		
		addItem(e: any){
			let p: Product = Product.initProduct(this.menu[e.category_index].products[e.product_index])
			p.qty = 1
			this.$emit('addItem', {
				category_index: e.category_index,
				product_index: e.product_index, 
				product: p
			})
		}
		
		removeItem(e: any){
			let p: Product = this.menu[e.category_index].products[e.product_index]
			p.qty = 1
			this.$emit('removeItem', {
				category_index: e.category_index,
				product_index: e.product_index, 
				product: Product.initProduct(p)
			})
		}
		
		openProductOption(category_index: number, product_index: number, openFromCart: boolean){
			this.$emit('openProductOption', {
				category_index: category_index,
				product_index: product_index, 
				openFromCart: openFromCart
			})
		}
		
		// 菜品图片加载出错
		handleError(item: any){
			item = this.errorImage
		}
		
		setId(index: number) {
			// console.log(index);
			this.clickId = 'po' + index;
			this.currentCategoryIndex = index;
		}
		
		// 滑动到菜单顶部则页面自动下推
		scrolltoupper(){
			uni.pageScrollTo({
				scrollTop: 0
			})
		}
		
		scroll(e: any) {
			let scrollTop = e.target.scrollTop;
			// 滑动超过一定距离则上推页面,
			if(scrollTop > 40){
				uni.pageScrollTo({
					scrollTop: 400,
					duration: 200
				})
			}
			// console.log(this.topList);
			
			// 检查如果右边菜单滑动到下一类别,左边也滑动到对应的类别
			for (let i = 0; i < this.topList.length; i++) {
				let h1 = this.topList[i];
				let h2 = this.topList[i + 1];
				if (scrollTop >= h1 && scrollTop < h2) {
					// console.log(h1,h2,i);
					this.currentCategoryIndex = i;
					this.clickToId = 'to' + i
				}
			}
		}
		
		getNodesInfo(menuTop: number) {
			const query = uni.createSelectorQuery().in(this);
			query.selectAll('.title').boundingClientRect(res => {
				let rel = [];
				//@ts-ignore
				for (var i = 0; i < res.length; i++) {
					//@ts-ignore
					rel.push(res[i].top - menuTop - 5);
				}
				// console.log('计算每一个title的高度', rel)
				this.topList = rel;
			}).exec();
			
			// 函数重新,使它只执行一次
			this.getNodesInfo = function(){};
		}
		
		// 获取页面信息
		getContInfo(){
			const query = uni.createSelectorQuery().in(this);
				query.select('#menu').boundingClientRect(data => {
					// console.log('菜单距离顶部的高度', data.top)
					this.getNodesInfo(data.top)
				}).exec();
		}
		
		colorToRGB(val: string, opa: number) {
			const pattern = /^(#?)[a-fA-F0-9]{6}$/; //16进制颜色值校验规则
			const flag = typeof opa == 'number'; //判断是否有设置不透明度
		
			if (!pattern.test(val)) { //如果值不符合规则返回空字符
				return '';
			}
			let v = val.replace(/#/, ''); //如果有#号先去除#号
			let rgbArr = [];
			let rgbStr = '';
			for (let i = 0; i < 3; i++) {
				let item = v.substring(i * 2, i * 2 + 2);
				let num = parseInt(item, 16);
				rgbArr.push(num);
			}
			rgbStr = rgbArr.join();
			rgbStr = 'rgb' + (flag ? 'a' : '') + '(' + rgbStr + (flag ? ',' + opa : '') + ')';
			return rgbStr;
		}
		
	}
</script>

<style>
	
	.gray {
	    -webkit-filter: grayscale(100%);
	    -moz-filter: grayscale(100%);
	    -ms-filter: grayscale(100%);
	    -o-filter: grayscale(100%);
	    filter: grayscale(100%);
	    filter: gray;
		height: 300rpx;
		width: 100%;
		border-top-left-radius: 10rpx;
		border-top-right-radius: 10rpx;
	}
	
	.soldout{
		width:100%;position:absolute;z-index:2;top:50%; text-align:center;
	}
	
	.leftEmpty{
		height: 200rpx;
		flex-shrink: 0;
	}
	
	.productContainer{
		display: flex;
		flex-direction: row;
		height: 140rpx;
		margin-top: 10rpx;
		padding: 10rpx;
	}
	
	.productImg{
		width: 140rpx;
		height: 140rpx;
		border-radius: 20rpx;
		margin-left: 10rpx;
	}
	
	.productInfo{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding-left: 20rpx;
		height: 140rpx
	}
	
	.priceContainer{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 380rpx;
		align-items: center;
	}
	
	.price{
		font-weight: bold;
		font-size: medium;
	}
	
	.org_price{
		margin-left: 10rpx;
		color: #999;
		font-size: small;
		text-decoration: line-through;
	}
	
	.qty{
		padding: 0rpx 20rpx;
		padding-top: 5rpx;
	}
	
	.left {
		display: flex;
		width: 160rpx;
	}
	
	.leftTitle {
		background-color: #F0F0F0;
		text-align: center;
		height: 100rpx;
		line-height: 100rpx;
		color: #000000;
		font-size: small;
		display: -webkit-box;
		/* 控制行数 */
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		white-space: normal;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
	.active {
		background-color: #FFFFFF;
		border-left: 4px solid #FF8161;
	}
	
	.right {
		display: flex;
		flex: 1;
	}
	
	.title {
		margin-top: 10rpx;
		color: #999999;
		padding: 10rpx;
		font-weight: 300;
		font-size: small;
		position: sticky;
		width: 100%;
		left: 0;
		right: 0;
		top: 0;
		background-color: #FFFFFF;
	}
	
	.item {
		display: inline-block;
		width: 350rpx;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.tag {
		padding: 5rpx 14rpx;
		font-weight: 200;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: x-small;
		white-space: nowrap;
		margin: 0rpx 5rpx;
		/* border-radius: 98rpx; */
		margin-top: 5rpx;
		overflow: hidden;
		border-radius: 3rpx;
	}
	
	.freeChoice {
		border-radius: 30rpx;
		padding: 8rpx 25rpx;
		background-color: #FF8161;
		color: #FFFFFF;
		font-size: small;
		font-weight: 500;
		display: flex;
		justify-content: center;
		align-items: center;
		/* text-align: center; */
		box-shadow: -1px 1px 1px 1px #ECECEC;
		flex-wrap: nowrap;
	}
	
	.add,
	.remove {
		/* box-shadow: 0px 0px 2px 2px #DDDDDD; */
		display: flex;
		justify-content: center;
		align-items: center;
		width: 55rpx;
		height: 55rpx;
		border-radius: 100%;
		color: white;
		padding-bottom: 10rpx;
		font-size: x-large;
		font-weight: 700;
		background-color: #FF8161;
	}
	
	.corner {
	  position: relative;
	  width: 100rpx;
	  height: 85rpx;
	}
		
	.corner::before {
	  position: absolute;
	  top: 15rpx;
	  left: -10rpx;
	  z-index: 1;
		/* padding: 3rpx; */
		font-size: 18rpx;
		font-weight: 200;
	  line-height: 0rpx;
	  color: #FFFFFF;
	  height: 0rpx;
	  border: 15rpx solid #404040;
	  border-right-color: transparent;
	  content: "SOLD OUT";
	  /* box-shadow: 0px 0.3125rem 0.3125rem -0.3125rem #000; */
	}
		
	.corner::after {
	  content: "";
	  position: absolute;
	  top: 5rpx;
	  left: -10rpx;
	  border: 1rpx solid #999;
	  border-left-color: transparent;
	  border-bottom-color: transparent;
	}
	
</style>
