<template>
	<view class="detail">
		<view class="row" style="margin-top: 10rpx;align-items: center;">
			<text style="font-weight: 500;">综合评价</text>
			<u-rate :count="5" v-model="shop_rating" active-color="#ffca3e" style="margin-left: 20rpx;" disabled="true"></u-rate>
		</view>
		
		<view class="row mt-10 no_wrap">
			<text>营业时间：</text>
			<view>{{today_open_time}}</view>
		</view>
		
		<view class="row mt-10 no_wrap">
			<text>联系电话：</text>
			<view class="underline" @click="callMechant(tel)">{{tel}}</view>
		</view>
		
		<view class="row mt-10">
			<text class="no_wrap">详细地址：</text>
			<view class="underline" @click="openMap">{{address}}</view>
		</view>
		
		<view @click="showInfo" class="imgContainer">
			<image src="../static/image/up.png" mode="aspectFill" class="up"></image>
		</view>
	</view>
</template>

<script lang="ts">
	import {Component, Prop, Watch, Vue} from "vue-property-decorator";
	
	@Component({})
	export default class ShopInfoDetail extends Vue{
		@Prop() private shop_rating!: number
		@Prop() private address!: string
		@Prop() private today_open_time!: string
		@Prop() private tel!: string
		@Prop() private lat!: number
		@Prop() private lon!: number
		
		showInfo(){
			this.$emit('showInfo')
		}
		
		callMechant(tel: number){
			uni.makePhoneCall({
				//@ts-ignore
				phoneNumber: tel
			})
		}
		
		openMap(){
			uni.openLocation({
				latitude: Number(this.lat),
				longitude: Number(this.lon),
				success: function() {
					// console.log('success');
				}
			});
		}
		
	}
</script>

<style>
	
	.no_wrap{
		white-space: nowrap;
	}
	
	.mt-10{
		margin-top: 10rpx;
	}
	
	.underline{
		text-decoration: underline;
	}
	
	.imgContainer{
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	
	.up{
		position: fixed;
		bottom: 40rpx;
		height: 100rpx;
		width: 100rpx;
	}
	
	.detail{
		display: flex;
		flex-direction: column;
		padding: 30rpx; 
		border-bottom: 0.5px solid #F0F0F0;
	}
</style>
