<template>
	<view class="card">
		
		<view class="entrance" @click="gotoOrder">
			<image src="../static/image/myOrder.png" class="orderIcon" mode="aspectFill"></image>
			<text class="text">历史订单</text>
		</view>
		
		<view class="entrance" @click="gotoCoupon">
			<image src="../static/image/myCoupon.png" class="orderIcon" mode="aspectFill"></image>
			<text class="text">我的优惠券</text>
		</view>
		
		<view class="entrance" @click="gotoAddressList">
			<image src="../static/image/myAddress.png" class="orderIcon" mode="aspectFill"></image>
			<text class="text">我的地址</text>
		</view>
		
		<view class="entrance" @click="gotoCreditCard">
			<image src="../static/image/myCard.png" class="orderIcon" mode="aspectFill"></image>
			<text class="text">我的信用卡</text>
		</view>
		
	</view>
</template>

<script lang="ts">
	import {Component, Vue, Watch, Prop} from "vue-property-decorator";
	import {UserDetail} from "@/module/UserDetail";
	
	@Component({})
	export default class UserAccount extends Vue{
		@Prop() loginStatus!: boolean
		
		gotoCreditCard(){
			this.loginStatus ? (
			uni.navigateTo({
				url: '../../pagesA/CreditCardList/CreditCardList',
			})) : this.gotoLogin()
		}
		
		gotoAddressList(){
			this.loginStatus ? (
			uni.navigateTo({
				url: '../../pagesA/AddressBook/AddressBook?type=edit',
			})) : this.gotoLogin()
		}
		
		gotoCoupon(){
			this.loginStatus ? (
			uni.navigateTo({
				url: '../../pagesA/CouponList/CouponList'
			})) : this.gotoLogin()
		}
		
		gotoOrder(){
			this.loginStatus ? (
			uni.switchTab({
				url: '../OrderList/OrderList'
			})) : this.gotoLogin()
		}
		
		gotoLogin(){
			uni.navigateTo({
				url: '../../pagesA/Login/Login',
			});
		}
		
	}
</script>

<style>
	
	.text {
		margin-top: 10rpx;
		font-size: small;
		font-weight: 300;
	}
	
	.orderIcon {
		height: 60rpx;
		width: 60rpx;
	}
	
	.entrance {
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
		align-items: center;
		padding: 30rpx 26rpx;
	}
	
	.card {
		display: flex;
		flex-direction: row;
		width: 100%;
		border-radius: 30rpx;
		box-shadow: 0px 0px 2px 2px #F0F0F0;
		margin: 50rpx 0rpx;
		align-items: center;
		justify-content: space-evenly;
	}
</style>
