<template>
	<view>
		<view class="row" style="margin-top: 20rpx;">
			<image v-if="loginStatus" :src="user.avatar" class="img" mode="aspectFill"></image>
			
			<view v-else class="bc">
				<image class="baby" src="../static/image/baby.png" mode="aspectFit"></image>
			</view>
			
			<view v-if="loginStatus" class="col" style="margin-left: 30rpx;">
				<text class="name">{{user.name==='' ? user.username : user.name}}</text>
				
				<view class="row" style="margin-top: 20rpx;">
					<image src="../static/image/user.png" class="userIcon"></image>
					<text class="cid">会员号: {{user.cid}}</text>
				</view>
			</view>
			
			<view v-else class="login" @click="gotoLogin">立即登录</view>
		</view>
		
		<view class="container">
			<view class="balance">
				<text v-if="loginStatus">${{user.deposit}}</text>
				<text v-else>$0</text>
				<text class="text">余额</text>
			</view>
			
			<view class="point">
				<text v-if="loginStatus">{{user.credit}}</text>
				<text v-else>0</text>
				<text class="text">积分</text>
			</view>
			
			<view class="balance">
				<text v-if="loginStatus">{{user.coupons_count}}</text>
				<text v-else>0</text>
				<text class="text">优惠券</text>
			</view>
		</view>
		
	</view>
</template>

<script lang="ts">
	import {Component, Vue, Watch, Prop} from "vue-property-decorator";
	import {UserDetail} from "@/module/UserDetail";
	
	@Component({})
	export default class UserInfo extends Vue{
		@Prop() user!: UserDetail
		@Prop() loginStatus!: boolean
		
		gotoLogin(){
			uni.navigateTo({
				url: '../../pagesA/Login/Login',
			});
		}
	}
</script>

<style>
	
	.userIcon{
		height: 30rpx;width: 30rpx;
	}
	
	.point{
		display: flex;
		flex-direction: column;
		width: 33%;
		height: 80rpx;
		align-items: center;
		justify-content: center;
		border-left: 1px solid #F0F0F0;border-right: 2px solid #F0F0F0;
	}
	
	.container{
		display: flex;
		flex-direction: row;
		width: 100%;margin-top: 50rpx;
	}
	
	.text {
		margin-top: 5rpx;
		font-size: small;
		font-weight: 300;
	}
	
	.balance {
		display: flex;
		flex-direction: column;
		width: 33%;
		height: 80rpx;
		align-items: center;
		justify-content: center;
	}
	
	.img {
		border-radius: 98rpx;
		height: 150rpx;
		width: 150rpx;
	}
	
	.baby{
		border-radius: 98rpx;
		height: 110rpx;
		width: 110rpx;
	}
	
	.bc{
		margin-left: 30rpx;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 98rpx;
		height: 130rpx;
		width: 130rpx;
		background-color: #F0F0F0;
	}
	
	.name{
		font-size: x-large;font-weight: bold;
	}
	
	.login{
		font-size: x-large;font-weight: bold;margin-left: 30rpx;
	}
	
	.cid{
		font-weight: 300;margin-left: 10rpx;font-size: small;
	}
</style>
