<template>
	<view class="options" :style="{'border-color': coupon.checked===1 ? couponColor : '#F0F0F0'}">
		<!-- 优惠券左上角角标颜色判断 -->
		<view class="con" :style="{'background-color': couponColor}"></view>
		
		<!-- 优惠券标题 -->
		<view class="container"> 
			<text style="font-size: large;">{{coupon.title}}</text>
			<radio v-if="fromPayment" :value="coupon.code" :checked="coupon.checked === 1" :color="couponColor"/>
		</view>
		
		<!-- 优惠卷描述(如果有的话) -->
		<view v-if="coupon.discount_desc!=''" class="coupon_desc" :style="{'background-color': couponColor}">
			<image src="../static/image/diamond.png" mode="scaleToFill" class="img"></image>
			<text class="desc">{{coupon.discount_desc}}</text>
		</view>
		
		<!-- 优惠券有效期 -->
		<view class="row">
			<view class="expiry">有效期至</view>
			<text class="endData">{{coupon.end_date}}</text>
		</view>
		
		<!-- 优惠券规则 -->
		<view class="rule">{{coupon.rule_desc}}</view>	
	</view>
</template>

<script lang="ts">
	import {Component, Vue, Watch, Prop} from "vue-property-decorator";
	import {
	    Coupon,
	    CouponListElement,
	    CouponResult, Discount,
	    DiscountGroup,
	    ValidationResult
	  } from "@/module/Coupon";
	
	@Component({})
	export default class CouponCell extends Vue{
		@Prop() private coupon !: Coupon
		@Prop() private fromPayment!: boolean
		@Prop() private couponColor!: string
		
		// private colorBorder = {'border': '2px solid #FF6348'}
		// private plainBorder = {'border': '0.3px solid #F0F0F0'}
		
	}
</script>

<style>
	
	.endData{
		margin-left: 20rpx;font-size: smaller;
	}
	
	.expiry{
		font-size: smaller;
		color: #999999;
		padding-bottom: 15rpx;
	}
	
	.img{height: 27rpx;width: 32rpx;}
	
	.desc{
		margin-left: 3rpx;font-size: smaller;color: #FFFFFF;
	}
	
	.container{
		display: flex;flex-direction: row;justify-content: space-between;margin-bottom: 15rpx;
	}
	
	.rule{
		color: #999999;
		font-size: xx-small;padding-top: 15rpx;border-top: 1rpx dashed #D3D3D3;
	}
	
	.coupon_desc{
		display: flex;
		flex-direction: row;
		border-radius: 30rpx;
		padding: 8rpx;
		width: fit-content;
		margin-bottom: 10rpx;
		align-items: center;
	}
	
	.options{
		position: relative;
		overflow: hidden;
		margin-top: 20rpx;
		padding: 20rpx 30rpx;
		display: flex;
		flex-direction: column;
		border-radius: 20rpx;
		border-style: solid;
		border-width: 2px;
		box-shadow: 0px 0px 1px 2px #F0F0F0;
	}
	
	.options .con{
		position: absolute;    /*绝对定位*/
		height: 85rpx;
		width: 85rpx;
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		left: -50rpx;
		top: -50rpx;
	}
</style>
