<template>
	<!-- 司机信息 -->
	<view class="card">
		
		<view class="top" v-if="orderInfo.driver">
			<view class="row" style="align-items: center;">
				<text class="name">您的配送司机</text>
			</view>
		</view>
		
		<view v-if="orderInfo.driver" class="driverInfo">
			
			<view class="row" style="align-items: center;">
				<image :src="orderInfo.driver.avatar" mode="aspectFill" class="avatar"></image>
				
				<view class="col" style="margin-left: 20rpx;">
					<text style="font-size: large;">{{orderInfo.driver.nickname}}</text>
					<view class="title">{{orderInfo.driver.title}}</view>
				</view>
				
			</view>
			
			<view class="col" style="align-items: center;">
				
				<view class="row" style="align-items: center;">
					<image src="../static/image/temperature.png" mode="aspectFill" style="width: 35rpx;height: 35rpx;"></image>
					<text class="tempText">今日体温</text>
				</view>
				
				<view class="temperature">{{orderInfo.driver.temperature}}°C</view>
				
			</view>
			
		</view>
		
		<!-- 地图 -->
		<map class="map" :include-points="inPoints" :markers="markers" scale="8"
		:polyline="polyline"></map>
		
		<view class="noticeContainer">
			<view class="line"></view>
			<view class="notice">安全提醒</view>
			<view class="line"></view>
		</view>
		
		<text class="remind">小红车提醒大家疫情期间坚持常态化疫情防控不松懈，科学佩戴口罩、勤洗手、常通风；不扎堆、不聚会</text>
		
	</view>
</template>

<script lang="ts">
	import {Component, Vue, Prop, Watch} from "vue-property-decorator";
	import {OrderHistory} from "@/module/OrderHistory";
	
	const googlePolyline = require('google-polyline');
	
	@Component({})
	export default class DriverInfo extends Vue{
		@Prop() orderInfo!: any
		@Prop() shipping_directions!: any
		
		private inPoints: any = []
		private markers: any = [{
			id: 1,
		    latitude: 0,//纬度 
		    longitude: 0,//经度
		    iconPath: '../static/image/userMap.png',		
		}, {
			id: 2,
		    latitude: 0,//纬度
		    longitude: 0,//经度
		    iconPath: '../static/image/merchanMap.png',
		}]
		//指定一系列坐标点，从数组第一项连线至最后一项
		private polyline: any= [{
							points:[],
							color: "#FF8161",//线的颜色
							width: 5,//线的宽度
						}]
						
		mounted(){
			// console.log(this.shipping_directions);
			// console.log(this.orderInfo);
			this.inPoints = [
				{latitude: this.shipping_directions.start_address_lat, longitude: this.shipping_directions.start_address_lng},
				{latitude: this.shipping_directions.end_address_lat, longitude: this.shipping_directions.end_address_lng}
			]
			
			// // 用户标记点
			this.markers[1].latitude = this.shipping_directions.start_address_lat
			this.markers[1].longitude = this.shipping_directions.start_address_lng
			
			// // 商家标记点
			this.markers[0].latitude = this.shipping_directions.end_address_lat
			this.markers[0].longitude = this.shipping_directions.end_address_lng
			this.getPolyLine()
		}
		
		// 获取polyline
		getPolyLine(){
			// console.log(this.shipping_directions)
			// polyline解码获取连线坐标
			var latlngs = googlePolyline.decode(this.orderInfo.shipping_directions.polyline);
			// console.log(latlngs)
			var polyLineArray = [];
			for (let i = 0; i < latlngs.length; i++) {
				polyLineArray[i] = {latitude: latlngs[i][0],longitude: latlngs[i][1]}
			}
			// @ts-ignore
			this.polyline[0].points = polyLineArray
			// console.log(this.polyline)
		}
		
	}
</script>

<style>
	
	.map{
		width: 100%; height: 400rpx;
	}
	
	.tempText{
		margin-left: 10rpx;font-size: large;
	}
	
	.noticeContainer{
		display: flex;
		flex-direction: row;
		align-items: center;padding: 20rpx 30rpx;
	}
	
	.notice{
		margin: 0rpx 30rpx;color: #D8A39A;
	}
	.avatar{
		width: 100rpx;height: 100rpx;border-radius: 50rpx;
	}
	.title{
		font-weight: 500;margin-top: 10rpx;color: #E6A23C;
	}
	.temperature{
		font-weight: 500;margin-top: 10rpx;font-size: large;
	}
	.remind{
		color: #D8A39A;padding: 0rpx 30rpx;padding-bottom: 30rpx;
	}
	.driverInfo{
		display: flex;
		flex-direction: row;
		padding: 30rpx;justify-content: space-between;align-items: center;
	}
	.line {
	    display:inline-block;
	    width:35%;
	    border-top:0.5px solid #cccccc;
	    vertical-align:5px;  
	}
	.name{
		width: 500rpx;
		padding: 0rpx 10rpx;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-size: large;
		font-weight: 400;
	}
	.top{
		background-color: #F5F5F5;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: row;
		border-top-left-radius: 10rpx;
		border-top-right-radius: 10rpx;
		padding: 20rpx 20rpx;
	}
	.card{
		margin: 40rpx;
		box-shadow: 0px 0px 3px 2px #DDDDDD;
		display: flex;
		flex-direction: column;
		border-radius: 10rpx;
	}
</style>
