<template>
	<view>
		
		<u-popup v-model="showPopup"
		mode="bottom" 
		height="100%" 
		border-radius="20" 
		z-index="100000"
		@touchmove.prevent style="overflow: hidden;">
		
			<view class="popup">
		 
				<image @click="closePopup" src="../static/image/arrowBack.png" mode="aspectFill" class="arrowBack"></image>
				
				<text class="largeText">选择配送要求</text>
				
				<text class="smallText">您可以给司机备注需要取餐的方式</text>
				
				<radio-group v-for="(item, index) in items" :key="item.value">
					<label class="radio" @click="radioChange(index)">
						<view>{{item}}</view>
						<radio :value="item" color="#FF8161" :checked="index === current"/>
					</label>
					
					<u-radio-group v-if="index===0" wrap="true"
					v-for="(door, i) in doors" :key="index" v-model="doorValue">
						<label class="doorRadio">
							<view :style="{'color': (doorValue===door ? '#FF8161':'#000')}">{{door}}</view>
							<u-radio @change="doorChange"
								:name="door"
								shape="square" active-color="#FF8161"/>
						</label>
					</u-radio-group>
				</radio-group>
				
				<text class="noteText">填写更多备注</text>
				
				<textarea v-model="additionalNote" placeholder="(选填)" confirm-type="done" class="textarea"/>
				
				<view class="btn" @click="finish">完成</view>
			
			</view>
		
		</u-popup>
		
	</view> 
</template>

<script lang="ts">
	import {Component, Prop, Watch, Vue} from "vue-property-decorator";
	
	@Component({})
	export default class NotePopup extends Vue{
		@Prop() private showPopup!: Boolean
		
		private additionalNote: string = ""
		private items: string[] = ["送到前门", "放在门外", "放在前台"]
		private doors: string[] = ["前门", "侧门", "车库门"]
		private current: number = 0
		private doorValue: string = "前门"
		
		mounted(){
			// console.log('note popup mounted')
		}
		
		radioChange(index: any){
			this.current = index
			index === 0 ? this.doorValue = "前门" : this.doorValue = ""
		}
		
		doorChange(){
			this.current === 0 ? '' : this.current = 0
		}
		
		finish(){
			let comma = '', dash = ''
			this.additionalNote==="" ? '' : comma = ', '
			this.doorValue==="" ? '' : dash = " - "
			let deliveryNote = this.items[this.current] + dash + this.doorValue + comma + this.additionalNote
			this.$emit('setDeliveryNote', deliveryNote)
			this.closePopup()
		}
		
		closePopup(){
			this.$emit('closePopup', false)
		}
		
	}
</script>

<style>
	
	.btn{
		position: fixed;
		bottom: 70rpx;
		z-index: 1000;
		display: flex;
		right: 30rpx;
		flex-direction: row;
		border-radius: 98rpx;
		width: 700rpx;
		height: 90rpx;
		color: #FFFFFF;
		font-size: larger;
		background-color: #FF8161;
		align-items: center;
		justify-content: center;
		left: 25rpx;
		font-weight: 500;
	}
	
	.radio{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 20rpx 0rpx;
	}
	
	.doorRadio{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 15rpx 0rpx;
		padding-left: 40rpx;
	}
	
	.popup{
		padding: 20rpx;
		display: flex;
		flex-direction: column;
	}
	
	.textarea{
		width: 95%;
		height: 170rpx;
		border-radius: 30rpx;
		background-color: #F1F1F1;
		padding: 20rpx;
	}
	
	.smallText{
		padding-bottom: 60rpx;
		font-size: small;
	}
	
	.noteText{
		font-size: small;
		margin-top: 60rpx;
		margin-bottom: 20rpx;
	}
	
	.largeText{
		font-size: large;
		font-weight: bold;
		padding: 20rpx 0rpx;
	}
	
	.arrowBack{
		height: 40rpx;
		width: 40rpx;
	}
	
	.popup{
		padding: 20rpx 30rpx;
	}
</style>
