<template>
	<view class="row">
		<view v-if="qty>0" @click.stop="removeItem()" class="remove">-</view>
		<text v-if="qty>0" class="qty">{{qty}}</text>
		<view class="add" @click.stop="addItem()">+</view>
	</view>
</template>

<script lang="ts">
	import {Component, Prop, Watch, Vue} from "vue-property-decorator";
	import {Product} from "@/module/Product";
	
	@Component({})
	export default class NumberBox extends Vue{
		@Prop() private qty!: number
		@Prop() private category_index!: number
		@Prop() private product_index!: number
		@Prop() private cartIndex!: number
		
		@Watch('qty') checkqty(newValue: number, oldValue:number){
			// console.log(newValue, oldValue);
		}
		
		created(){
		}
		
		addItem(){
			this.$emit('addItem', {
				category_index: this.category_index,
				product_index: this.product_index,
				cartIndex: this.cartIndex
			})
		}
		
		removeItem(){
			if(this.qty < 1){return;}
			this.$emit('removeItem', {
				category_index: this.category_index,
				product_index: this.product_index,
				cartIndex: this.cartIndex
			})
		}
		
	}
</script>

<style>
	.add,
	.remove {
		/* box-shadow: 0px 0px 2px 2px #DDDDDD; */
		display: flex;
		justify-content: center;
		align-items: center;
		width: 55rpx;
		height: 55rpx;
		border-radius: 98rpx;
		color: white;
		padding-bottom: 10rpx;
		font-size: x-large;
		font-weight: 700;
		background-color: #FF8161;
	}
	
	.qty{
		padding: 0rpx 20rpx;
		padding-top: 5rpx;
	}
	
</style>
