<template>
	<!-- 价格详情 -->
	<view class="card">
		
		<view class="con">
			<view>产品价</view>
			<view>${{orderInfo.order_subtotal}}</view>
		</view>
		
		<view class="con" v-show="orderInfo.only_shipping_fee !== 0">
			<view>配送服务费</view>
			<view style="display: flex;flex-direction: row;">
				<view>${{orderInfo.only_shipping_fee}}</view>
			</view>
		</view>
		
		<view class="con">
			<view>税</view>
			<view>${{orderInfo.order_tax}}</view>
		</view>
		
		<view class="con" v-if="orderInfo.tips_amount!==0">
			<view>小费</view>
			<view>${{orderInfo.tips_amount}}</view>
		</view>
		
		<view class="con" v-if="orderInfo.order_discount!==0">
			<view>优惠折扣</view>
			<view>-${{orderInfo.order_discount}}</view>
		</view>
		
		<view class="con" v-if="orderInfo.payment_fee!==0 || orderInfo.service_fee!==0">
			<view class="row">
				<view>服务费</view>
				<image @click="explain_fee" src="../static/image/fee.png" mode="aspectFill" class="img"></image>
			</view>
			<view>${{orderInfo.service_fee}}</view>
		</view>
		
		<view class="con" v-if="orderInfo.gift!==''">
			<view>赠送</view>
			<view>{{orderInfo.gift}}</view>
		</view>
		
		<view class="totalCon">
			<view style="font-weight: 400;">总计</view>
			<view class="total">${{orderInfo.order_total}}</view>
		</view>
		
	</view>
</template>

<script lang="ts">
	import {Component, Vue, Prop, Watch} from "vue-property-decorator";
	import {OrderDetailLogic} from "@/logic/OrderDetailLogic";
	import {getNewOrderDetail, OrderDetail} from "@/module/OrderDetail";
	
	@Component({})
	export default class OrderPriceInfo extends Vue{
		@Prop() orderInfo!: OrderDetail
		
		explain_fee(){
			uni.showModal({
				title: '通知',
				content: this.orderInfo.service_fee_desc,
				showCancel: false,
				confirmText: 'Okay',
				confirmColor: '#FF8161'
			});
		}
		
	}
</script>

<style>
	.total{
		font-weight: 500;font-size: large;
	}
	
	.totalCon{
		display: flex;flex-direction: row;justify-content: space-between;
		padding: 20rpx 0rpx;border-top: 1px dashed #999;margin-top: 20rpx;
	}
	
	.img{
		margin-left: 10rpx;
		width: 40rpx;
		height: 40rpx;
	}
	
	.card{
		padding: 20rpx 30rpx;
		margin: 40rpx;
		box-shadow: 0px 0px 3px 2px #DDDDDD;
		display: flex;
		flex-direction: column;
		border-radius: 10rpx;
	}
	
	.con{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 20rpx 0rpx;
		font-weight: 300;
		font-size: small;
	}
</style>
