<template>
	<view class="couponRow" v-if="valid === 1">
		
		<view class="row" style="align-items: center;">
			
			<image class="coupon_icon" 
			:src="src" 
			mode="aspectFill"></image>
			
			<text style="margin-left: 20rpx;">{{desc}}</text>
			
		</view>
		
		<view class="amount_desc">
			<text>{{amount_desc}}</text>
		</view>
		
	</view>
</template>

<script lang="ts">
	import {Component, Prop, Watch, Vue} from "vue-property-decorator";
	
	@Component({})
	export default class PaymentDiscountItem extends Vue{
		@Prop() amount_desc!: string
		@Prop() desc!: string
		@Prop() valid!: number
		@Prop() src!: string
		
	}
</script>

<style>
	.amount_desc{
		display: flex;
		flex-direction: row;
		margin-left: 20rpx;
	}
	
	.coupon_icon{
		height: 40rpx;
		width: 40rpx;
	}
	.couponRow{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 20rpx 0rpx;
		border-bottom: 0.1px solid #F0F0F0;
	}
</style>
