<template>
	<!-- 商品价格 -->
	<view class="card">
		
		<view class="con">
			<view>产品价</view>
			<view class="row">
				<view v-if="summary.org_subtotal!=summary.subtotal" class="org">${{summary.org_subtotal}}</view>
				<view>${{summary.subtotal}}</view>
			</view>
		</view>
		
		<view class="con" v-show="summary.shippingInfo.shipping_fee !== 0">
			<view>配送服务费</view>
			<view class="row">
				<view v-if="summary.shippingInfo.org_shipping_fee!=summary.shippingInfo.shipping_fee" class="org">${{summary.shippingInfo.org_shipping_fee}}</view>
				<view>${{summary.shippingInfo.shipping_fee}}</view>
				<view>({{summary.shippingInfo.distance}}公里)</view>
			</view>
		</view>
		
		<view class="con">
			<view>税</view>
				<view>${{summary.tax}}</view>
		</view>
		
		<view v-if="summary.tips!==0" class="con">
			<view>小费</view>
			<view>${{Number(summary.tips).toFixed(2)}}</view>
		</view>
		
		<view class="con" v-if="summary.serviceFee!==0||summary.paymentFee!==0">
			<view class="row">
				<view>服务费</view>
				
				<image @click="explain_fee" 
				src="../static/image/fee.png" 
				mode="aspectFill" 
				class="img"></image>
				
			</view>
			<view>${{summary.paymentFee + summary.serviceFee}}</view>
		</view>
		
		<view class="con" v-if="summary.discount!=0">
			<view>折扣</view>
			<view>-${{summary.discount}}</view>
		</view>
		
		<view class="totalCon">
			<view style="font-weight: 400;">总计</view>
			<view class="totalPrice">${{(summary.grand_total + Number(summary.tips) + summary.paymentFee).toFixed(2)}}</view>
		</view>
	</view>
</template>

<script lang="ts">
	import {Component, Prop, Watch, Vue} from "vue-property-decorator";
	import {PaymentInfo} from "@/module/PaymentInfo";
	
	@Component({})
	export default class PaymentPriceInfo extends Vue{
		@Prop() summary!: PaymentInfo
		
		explain_fee(){
			let content = ''
			let paymentFee = this.summary.paymentFee
			let serviceFee = this.summary.serviceFee
			if (paymentFee !== 0 && serviceFee !== 0) {
				content = '支付手续费 + $' + paymentFee + ' \r\n' + this.summary.serviceFeeDesc
			}else if(paymentFee !== 0){
				content = '支付手续费 + $' + paymentFee
			}else if(serviceFee !== 0){
				content = this.summary.serviceFeeDesc
			}
			uni.showModal({
				title: '通知',
				content: content,
				showCancel: false,
				confirmText: 'Okay',
				confirmColor: '#FF8161'
			});
		}
		
	}
</script>

<style>
	.totalPrice{
		font-weight: 500;font-size: large;
	}
	
	.totalCon{
		display: flex;flex-direction: row;justify-content: space-between;
		padding: 20rpx 0rpx;border-top: 1px dashed #999;margin-top: 20rpx;
	}
	
	.img{
		width: 40rpx;
		height: 40rpx;
		margin-left: 10rpx;
	}
	
	.org{
		color: #999999;
		text-decoration: line-through;
		margin-right: 30rpx;
	}
	
	.card{
		margin: 40rpx 30rpx;
		box-shadow: 0px 0px 3px 2px #DDDDDD;
		display: flex;
		flex-direction: column;
		border-radius: 10rpx;
		padding: 20rpx 30rpx;
	}
	
	.con{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 20rpx 0rpx;
		/* border-bottom: 0.5px solid #F0F0F0; */
		font-weight: 300;
		font-size: small;
	}
	
</style>
