<template>
	<!-- 底部悬浮的bar -->
	<view class="btn">
		<view class="priceContainer">
			
			<view class="totalText">总计</view>
	
			<view class="totalPrice">${{totalPrice}}</view>
				
			<view v-if="originalTotalPrice!==totalPrice && originalTotalPrice!==null" 
			class="originalTotalPrice">{{originalTotalPrice}}</view>
			
		</view>
		
		<view @click="placeOrder" class="placeOrder">立即下单</view>
	
	</view>
</template>

<script lang="ts">
	import {Component, Prop, Watch, Vue} from "vue-property-decorator";
	import {PaymentLogic} from "@/logic/PaymentLogic";
	
	@Component({})
	export default class PaymentPriceBar extends Vue{
		@Prop() totalPrice!: number
		@Prop() originalTotalPrice!: number
		
		placeOrder(){
			this.$emit('placeOrder')
		}
		
	}
</script>

<style>
	.placeOrder {
		display: flex;
		color: #FFFFFF;
		justify-content: center;
		align-items: center;
		/* margin-left: 50rpx; */
		height: 100rpx;
		width: 240rpx;
		white-space: nowrap;
		background-color: #FF8161;
		border-top-right-radius: 98rpx;
		border-bottom-right-radius: 98rpx;
	}
	.priceContainer{
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-left: 40rpx;
		/* margin-top: 15rpx; */
	}
	.totalText{
		
		color: #FFFFFF;font-size: larger;margin-left: 20rpx;
	}
	
	.totalPrice{
		margin-left: 20rpx;
		color: #FFFFFF;
		font-size: larger;
		/* margin-top: 10rpx; */
		font-weight: 600;
	}
	
	.originalTotalPrice{
		margin-left: 20rpx;
		color: #999;
		font-weight: 500;
		/* margin-top: 15rpx; */
		text-decoration: line-through;
	}
	.btn {
		position: fixed;
		bottom: 10rpx;
		z-index: 10000;
		display: flex;
		left: 30rpx;
		right: 30rpx;
		flex-direction: row;
		background-color: #000000;
		border-radius: 98rpx;
		width: 700rpx;
		height: 100rpx;
		display: flex;
		justify-content: space-between;
	}
	
	
</style>
