<template>
	<view class="card">
		
		<view class="row">
			
			<image :src="shopDetail.thumb_small" mode="aspectFill" class="img"></image>
			
			<view class="infoContainer">
				<text class="name">{{shopDetail.name}}</text>
				<text class="addr">{{shopDetail.addr}}</text>
				<text class="tel">{{shopDetail.tel}}</text>
			</view>
			
		</view>
		
		<!-- 地图 -->
		<map class="map" :include-points="inPoints" :markers="markers" scale="15"></map>
		
		<view class="btnContainer">
			
			<view class="phoneCall" @click="openAddress">
				<image src="../static/image/map.png" mode="aspectFill" class="btnImg"></image>
				<text class="btnText">打开地图</text>
			</view>
			
			<view class="phoneCall" @click="phoneCall">
				<image src="../static/image/call.png" mode="aspectFill" class="btnImg"></image>
				<text class="btnText">拨打电话</text>
			</view>
			
		</view>
	</view>
</template>

<script lang="ts">
	import {Component, Prop, Watch, Vue} from "vue-property-decorator";
	import {ShopDetail} from "@/module/ShopDetail";
	
	@Component({})
	export default class PaymentShopInfo extends Vue{
		@Prop() private shopDetail!: ShopDetail
		
		private inPoints: object[] = [{latitude: this.shopDetail.lat, longitude: this.shopDetail.lon}]
		private markers: object[] = [{
			id: 1,
		    latitude: this.shopDetail.lat,//纬度
		    longitude: this.shopDetail.lon,//经度
		    iconPath: '../static/image/merchanMap.png'		
		}]
		
		@Watch('shopDetail') watchShopDetail(newVal: ShopDetail){
			// console.log(newVal)
		}
		
		mounted(){
			// console.log(this.shopDetail)
		}
		
		openAddress(){
			uni.openLocation({
				latitude: Number(this.shopDetail.lat),
				longitude: Number(this.shopDetail.lon),
				success: function() {
					// console.log('success');
				}
			});
		}
		
		// 给商家打电话
		phoneCall(){
			uni.makePhoneCall({
				phoneNumber: this.shopDetail.tel
			})
		}
		
	}
</script>

<style>
	
	.map{
		width: 100%; height: 400rpx;margin-top: 20rpx;
	}
	
	.btnImg{
		height: 30rpx;width: 30rpx;
	}
	
	.btnText{
		margin-left: 10rpx;
		display: flex;
		flex-direction: row;
		font-size: small;
	}
	
	.btnContainer{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		width: 100%;
		margin-top: 30rpx;
	}
	
	.infoContainer{
		margin-left: 20rpx;display: flex;flex-direction: column;
	}
	
	.img{height: 120rpx;width: 120rpx;border-radius: 30rpx;}
	
	.card{
		margin: 40rpx 30rpx;
		box-shadow: 0px 0px 3px 2px #DDDDDD;
		display: flex;
		flex-direction: column;
		border-radius: 10rpx;
		padding: 20rpx 30rpx;
	}
	
	.name{
		font-size: large;
		font-weight: 500;
		width: 450rpx;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
	.addr{
		font-size: small;
		font-weight: 400;
		margin: 10rpx 0rpx;
		width: 490rpx;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
	.tel{
		font-size: smaller;
		font-weight: 300;
		width: 450rpx;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
	.phoneCall{
		background-color: #FF8161;
		color: #FFFFFF;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		height: 60rpx;
		width: 200rpx;
		border-radius: 90rpx;
		box-shadow: 0px 0px 3px 2px #DDDDDD;
	}
</style>
