<script lang="ts">
    import {Component, Prop, Watch, Vue} from "vue-property-decorator";
	import {GlobalSetting} from "@/GlobalSetting";
	
	@Component({})
    export default class App extends Vue{
        // mpType: 'app'
		private globalSetting: GlobalSetting = GlobalSetting.getInstance();
        onLaunch() {
			// console.log('App launch')
			
			// this.globalSetting.fetchUserLocation();
			
			// this.globalSetting.fetchSystemInfo();
			
			// 设置云端环境
			this.globalSetting.setCloudEnv();
			
			// 调用云函数获取openid
			this.globalSetting.fetchUserOpenId();
        }
		
        onShow() {
            // console.log('App Show')
			// this.globalSetting.fetchSystemInfo();
        }
		
        onHide() {
            // console.log('App Hide')
        }
    };
</script>

<style lang="scss">
	@import "uview-ui/index.scss";
    /*每个页面公共css */
	.row{
		display: flex;
		flex-direction: row;
	}
	
	.col{
		display: flex;
		flex-direction: column;
	}
	
	.loading{
		position: absolute;
		z-index: 100000;
		background: white;
		width: 100%;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	

	.leftEmpty{
		height: 300rpx;
		background-color: #FFFFFF;
		flex-shrink: 0;
	}
</style>
